/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

// Mobile styles
.card {
  position: relative;
  width: 343px;
  height: 486px;
  border-radius: var(--round);
  z-index: -2;
  background-color: var(--card-bg-color);
  &__backgroundImg {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/images/Frame\ 1000003598.png');
    height: 410px;
    width: 343px;
    z-index: -1;
    border-top-right-radius: var(--round);
    border-top-left-radius: var(--round);
  }
  &__nft-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 251px;
    height: 107px;
    margin: 229px 68px 0 24px;
  }
  .nft-info {
    &__headline {
      color: var(--white);
      font-size: var(--fontS-l);
      font-weight: var(--fontW-semiBold);
      line-height: 33px;
      width: 213px;
      height: 33px;
    }
    &__description {
      color: var(--secondary-text-color);
      font-size: var(--fontS-m);
      font-weight: var(--fontW-medium);
      line-height: 29px;
      width: 251px;
      height: 58px;
      letter-spacing: -0.01em;
      margin-top: 16px;
    }
  }
  &__currency-info {
    display: flex;
    align-content: center;
  }
  .currency-info {
    &__icon {
      height: 20px;
      width: 20px;
      margin: 27px 0 0 24px;
    }
    &__tokens {
      color: var(--primary-text-color);
      font-size: var(--fontS-s);
      font-weight: 700;
      line-height: 26px;
      width: 76px;
      height: 26px;
      letter-spacing: -0.01em;
      margin: 24px 0 0 10px;
    }
    &__clock-icon {
      width: 20px;
      height: 20px;
      margin: 27px 0 0 84px;
    }
    &__days-left {
      color: var(--secondary-text-color);
      font-size: var(--fontS-xs);
      font-weight: var(--fontW-medium);
      line-height: 22px;
      width: 66px;
      height: 22px;
      letter-spacing: -0.01em;
      margin: 26px 33px 0 10px;
    }
  }
  &__stroke {
    margin: 20px 24px 0 24px;
    border: 1.5px solid var(--stroke);
    width: 295px;
  }
  &__author-info {
    display: flex;
    width: 203px;
    height: 40px;
    margin: 18px 116px 20px 24px;
  }
  .author-info {
    &__author-avatar {
      width: 40px;
      height: 40px;
    }
    &__author-description {
      color: var(--secondary-text-color);
      font-size: var(--fontS-xs);
      font-weight: var(--fontW-medium);
      line-height: 22px;
      letter-spacing: -0.01em;
      margin: 9px 0 9px 16px;
    }
    &__author-name {
      color: var(--white);
      margin-left: 1px;
    }
  }
}
